<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}">
</head>

<body class="auth-body">
    <!-- Background Images -->
<div class="bg-images">
    <img src="{{ url_for('static', path='img/fit1.jpg') }}">
    <img src="{{ url_for('static', path='img/fit2.jpg') }}">
    <img src="{{ url_for('static', path='img/fit3.jpg') }}">
</div>

<!-- Vertical Text -->
<div class="vertical-text vertical-left">
    DISCIPLINE OVER MOTIVATION
</div>

<div class="vertical-text vertical-right">
    DISCIPLINE OVER MOTIVATION
</div>
    
    <!-- HEADER -->
    <div class="auth-header">
        <div class="circle"></div>
        <h1>My Workout Mixer</h1>
        <div class="circle"></div>
    </div>

    <hr>

    <!-- CENTERED FORM -->
    <div class="auth-wrapper">

        <div class="auth-container">
            <h2>Login</h2>

            <form method="post" action="/login">

                <label>Username</label>
                <input type="text" name="username" required>

                <label>Password</label>
                <input type="password" name="password" required>

                <button type="submit">Login</button>

            </form>

            <p>No account No problem!</p>

            <a href="/register">
                <button>Register</button>
            </a>

        </div>

    </div>

</body>
</html>